/**
 * Base stylesheet for the 2017 Airflow UI
 * Uses SASS to compile.
 * Quickly install SASS in MacOS by typing: sudo gem install sass
 * You can easily watch files using: sass --watch style.scss:style.css --sourcemap=none
 */

$primary-font:              'Ubuntu', sans-serif;
$primary-font-size:         16px;
$primary-color:             #FFFD38;
$primary-speed:             160ms;
$primary-timing-function:   ease;

$secondary-color:           #1c41db;

$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

$brand-primary:             $primary-color;
$brand-danger:              #d33232;
$brand-success:             #22dd3f;
$brand-info:                #21edf5;
$link-color:                $secondary-color;
$btn-primary-color:         black;

$primary-spacer:        1rem;
$header-height:         5rem;
$sidebar-width:         16rem;
$sidebar-width-sm:      2.6rem;

@import "scss/bootstrap";
@import "fonts/fonts";

@mixin icon($icon) {
    display: inline-block;
    font-family: 'Material Icons';
    text-transform: none;
    content: $icon;
    padding: 0 1rem 0 .3rem;
    transform: translate(0, 5px);
    font-size: 1.4rem;
}

body,
html {
    font-family: $primary-font;
    font-size: $primary-font-size;
    color: black;
    height: 100%;
    overflow: auto;
}

body {
    padding-top: $header-height + $primary-spacer;
    
    @include media-breakpoint-down(sm) {
        padding-top: $header-height * 3;
    }
}

h1,h2,h3,h4 {
    margin-bottom: $primary-spacer;
}

button {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    
    cursor: pointer;
    transition: none;
    font-weight: normal;
    text-transform: uppercase;
    
    @at-root .btn-group & {
        @extend .btn-secondary;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
    }
    
    > .i {
        transform: translate(0, 0.075rem);
        font-size: inherit;
    }
    &:hover {
        background-color: lighten($primary-color, 20%);
        border-color: lighten($primary-color, 20%);
    }
    &:active,
    &:focus {
        background-color: darken($primary-color, 14%);
    }
    
    &.btn-outline-primary,
    &.btn-outline-primary:hover {
        color: if(lightness($primary-color) > 50, black, $primary-color);
    }
}

header {
    @include clearfix;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: $header-height;
    background-color: black;
    color: white;
    
    @include media-breakpoint-down(sm) {
        min-height: $header-height * 2;
    }

    
    > div {
        display: inline-block;
        float: left;
    }
    
    .logo {
        width: 17rem;
        padding: $header-height / 4;
    }
    
    .server-time {
        font-size: 1.5rem;
        position: absolute;
        left: 50%;
        top: $primary-spacer * 1.5;
        padding: 0 ($primary-spacer / 2);
        border: 1px solid red;
        transform: translateX(-50%);
        
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    
    .user-info {
        float: right;
        text-align: right;
        font-size: .8rem;
        padding: $primary-spacer;
        text-transform: uppercase;
        
        > div > a {
            color: white;
            margin-left: $primary-spacer;
            
            &:hover {
                text-decoration: none;
            }
            
            &[href*=logout] {
                color: $primary-color;
                &:after {
                    @include icon("person");
                    color: gray;
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: $header-height;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.7);
    width: $sidebar-width; 
    overflow: hidden;
    overflow-y: auto;
    transition: width $primary-speed $primary-timing-function;
    
    @include media-breakpoint-down(sm) {
        top: $header-height * 2;
    }
    
    &.tucked {
        width: 3rem; 
    }
    
    hr {
        border-color: white;
    }
    
    .sidebar-toggle {
        @include clearfix;
        display: inline-block;
        padding: .4rem .8rem .2rem;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        
        @at-root .sidebar.tucked .sidebar-toggle:before {
            @include icon('menu');
            padding: 0;
            color: white;
        }
        
        &:before {
            @include icon('close');
            padding: 0;
            color: white;
        }
    }
    
    > nav > ul {
        list-style: none;
        padding: 0;
        
        > li {
            > a {
                display: block;
                text-transform: uppercase;
                line-height: 1rem;
                min-width: $sidebar-width;
                color: white;
                padding: ($primary-spacer) 0 ($primary-spacer * 1.2) 0;
                padding-left: ($primary-spacer / 2);
                
                @include media-breakpoint-down(sm) {
                    padding-left: ($primary-spacer / 4);
                }
                
                &:hover {
                    text-decoration: none;
                    background-color: rgba(255,255,255,0.4);
                }
                
                &:focus,
                &:active,
                &.active {
                    background-color: $primary-color;
                    color: black;
                }
                
                &:before {
                    @include icon("personal_video");
                }
                
                &[href*=live-view]:before {
                    @include icon("remove_red_eye");
                }
                &[href*=videos]:before {
                    @include icon("cloud_circle");
                }
                &[href*=playlists]:before {
                    @include icon("list");
                }
                &[href*=scheduler]:before {
                    @include icon("date_range");
                }
                &[href*=grids]:before {
                    @include icon("border_clear");
                }
                &[href*=download-automator]:before {
                    @include icon("cloud_download");
                }
                &[href*=atem]:before {
                    @include icon("keyboard_hide");
                }
                &[href*=log]:before {
                    @include icon("fingerprint");
                }
            }
        }
    }
}

main {
    padding: $primary-spacer;
    padding-left: $sidebar-width + $primary-spacer;
    transition: padding-left $primary-speed $primary-timing-function;
    
    .tucked + & {
        padding-left: 3rem;
    }
    
    @include media-breakpoint-down(sm) {
        padding-left: $sidebar-width-sm + $primary-spacer;
    }
    
    .card,
    .block {
        margin-bottom: $primary-spacer;
        .card-header {
            font-weight: normal;
            border: 0;
            text-transform: uppercase;
            
            @at-root h4.card-header {
                font-size: 1.25rem;
            }
        }
    }
    
    .nav-link {
        color: black;
        border: 0!important
    }
    .tab-block {
        display: none;
        
        &.active {
            display: block;
        }
    }
    
    .progress-bar {
        background-color: $secondary-color;
    }
    
    table {
        @extend .table;
        @extend .table-hover;
        @extend .table-responsive;
        td {
            vertical-align: middle;
            & .btn-group {
                float: right;
            }
        }
    }
}

form {
    label + input {
        margin-left: $primary-spacer
    }
    
    input[type=file],
    input[type=submit], 
    input[type=button] {
        @extend button;
    }
    
    textarea,
    input[type=name],
    input[type=password],
    input[type=text],
    input[type=number],
    input[type=date] {
        padding: 1.5rem .4rem .5rem;
        border: 0px;
        border-bottom: 1px solid gray;
        font-family: $primary-font;
        
        @at-root .placeholder {
            color: gray;
            transition: all $primary-speed $primary-timing-function;
        }
        &::placeholder {
            @extend .placeholder;
        }
        &:focus {
            outline: none;
            &::placeholder {
                color: #2c2c2c;
                transform: translateY(-1.5rem);
                font-size: .8rem;
            }
        }
    }
    input[type=radio],
    input[type=checkbox] {
        & + label {
            margin-left: .5rem;
        }
    }

}