/**
 * Base stylesheet for the 2017 Airflow UI
 * Uses SASS to compile.
 * Quickly install SASS in MacOS by typing: sudo gem install sass
 * You can easily watch files using: sass --watch style.scss:style.css --sourcemap=none
 */

$primary-font:              "Ubuntu", sans-serif;
$primary-font-size:         16px;
$primary-color:             #FFFD38;
$primary-speed:             160ms;
$primary-timing-function:   ease;
$primary-gray:              darkgray;
$primary-black:             #333;

$secondary-color:           #1c41db;

$border-radius:             0;
$border-radius-lg:          0;
$border-radius-sm:          0;

$brand-primary:             $primary-color;
$brand-danger:              #d33232;
$brand-success:             #22dd3f;
$brand-info:                #21edf5;
$link-color:                $secondary-color;
$btn-primary-color:         black;

$primary-spacer:            1rem;
$header-height:             5rem;
$sidebar-width:             16rem;
$sidebar-width-sm:          2.6rem;

$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       false;


@import "scss/bootstrap";
@import "fonts/fonts";

@mixin icon($icon, $sidebar: false) {
    display: inline-block;
    font-family: 'Material Icons';
    text-transform: none;
    content: $icon;
    transform: translate(0, 2px);
    font-size: 1em;
    
    @if($sidebar) {
        padding: 0 1rem 0 .3rem;
        transform: translate(0, 5px);
        font-size: 1.4rem;
    }
}

body,
html {
    font-family: $primary-font;
    font-size: $primary-font-size;
    color: black;
    background-image: url(bg.png);
    background-size: 100% 100%;
    background-repeat: repeat-x;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    
    @include media-breakpoint-down(xs) {
        font-size: .9rem;
    }
}

body {
    padding-top: $header-height + $primary-spacer;
}

h1,h2,h3,h4 {
    margin-bottom: $primary-spacer;
}

figure {
    @extend .figure;
    
    img {
        @extend .figure-img;
//        margin-bottom: $primary-spacer / 2;
    }
    
    figcaption {
        @extend .figure-caption;
        text-align: center;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button,
a.btn {
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    
    cursor: pointer;
    transition: none;
    font-weight: normal;
    text-transform: uppercase;
    
    @at-root .btn-toolbar & {
        @extend .btn-secondary;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
    }
    
    &.btn-preview:before {
        @include icon('\e417');
    }
    &.btn-remove:before {
        @include icon('\e872');
    }
    &.btn-edit:before {
        @include icon('\e254');
    }
    &.btn-playlist:before {
        @include icon('\e8ee');
    }
    &.btn-shrink:before {
        @include icon('\e915');
    }
    &.btn-add:before {
        @include icon('\e147');
    }
    &.btn-plus-box:before {
        @include icon('\e146');
    }
    &.btn-minus-box:before {
        @include icon('\e909');
    }
    &.btn-copy:before {
        @include icon('\e14D');
    }
    
    > .i {
        transform: translate(0, 1px);
        font-size: inherit;
    }
    
    &:hover {
        background-color: lighten($primary-color, 20%);
        border-color: lighten($primary-color, 20%);
    }
    &:active,
    &:focus {
        background-color: darken($primary-color, 14%);
    }
    
    &.btn-outline-primary,
    &.btn-outline-primary:hover {
        color: if(lightness($primary-color) > 50, black, $primary-color);
    }
}

header {
    @include clearfix;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: $header-height;
    background-color: black;
    color: white;
        
    > div {
        display: inline-block;
        float: left;
    }
    
    .logo {
        width: 17rem;
        padding: $header-height / 4;
    }
    
    .server-time {
        font-size: 1.5rem;
        position: absolute;
        left: 50%;
        top: $primary-spacer * 1.5;
        padding: 0 ($primary-spacer / 2);
        border: 1px solid red;
        transform: translateX(-50%);
        
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    
    .admin-menu {
        float: right;
        padding: $header-height / 4;
        line-height: 2.5em;
        
        .admin-menu-welcome {
            float: left;
            
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }

        .admin-menu-toggle {
            font-size: 1.5em;
            float: right;
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
            
            &:before {
                @include icon("\E5D4");
            }
        }
        
        .admin-menu-content {
            display: none;
            min-width: 16rem;
            position: absolute;
            right: 1rem;
            top: 5rem;
            z-index: 12;
            padding: $primary-spacer;
            list-style: none;
            float: none;
            font-size: .8rem;
            background-color: black;
            text-transform: uppercase;

            a {
                display: block;
                color: white;
                margin-left: $primary-spacer / 2;

                &:hover {
                    text-decoration: none;
                }

                &[href*=admin] {
                    &:before {
//                        @include icon("\E7FD");
                    }
                }
                &[href*=profile] {
                    &:before {
                        @include icon("\e853", $sidebar: true);
                    }
                }
                &[href*=users] {
                    &:before {
                        @include icon("\E8D3", $sidebar: true);
                    }
                }
                &[href*=settings] {
                    &:before {
                        @include icon("\E8B8", $sidebar: true);
                    }
                }
                &[href*=logout] {
                    color: $primary-color;
                    &:before {
                        @include icon("\E7FD", $sidebar: true);
                        color: gray;
                    }
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: $header-height;
    bottom: 0;
    z-index: 11;
    background-color: rgba(0,0,0,0.7);
    width: $sidebar-width; 
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: width $primary-speed $primary-timing-function;
    
    &.tucked {
        width: 3rem; 
    }
    
    hr {
        border-color: white;
    }
    
    .sidebar-toggle {
        @include clearfix;
        display: inline-block;
        padding: .4rem .8rem .2rem;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        
        @at-root .sidebar.tucked .sidebar-toggle:before {
            @include icon('\E5D2', $sidebar: true);
            padding: 0;
            color: white;
        }
        
        &:before {
            @include icon('\E5CD', $sidebar: true);
            padding: 0;
            color: white;
        }
    }
    
    > nav > ul {
        list-style: none;
        padding: 0;
        
        > li > a {
            display: block;
            text-transform: uppercase;
            line-height: 1rem;
            min-width: $sidebar-width;
            color: white;
            padding: ($primary-spacer) 0 ($primary-spacer * 1.2) 0;
            padding-left: ($primary-spacer / 2);

            @include media-breakpoint-down(sm) {
                padding-left: ($primary-spacer / 4);
            }

            &:hover {
                text-decoration: none;
                background-color: rgba(255,255,255,0.4);
            }

            &:focus,
            &:active,
            &.active {
                background-color: $primary-color;
                color: black;
            }

            &:before {
                @include icon("\E63B");
            }

            &[href*=live]:before {
                @include icon("\E417", $sidebar: true);
            }
            &[href*=clips]:before {
                @include icon("\E2BE", $sidebar: true);
            }
            &[href*=clocks]:before {
                @include icon("\E8EF", $sidebar: true);
            }
            &[href*=planner]:before {
                @include icon("\E916", $sidebar: true);
            }
            &[href*=weekgrid]:before {
                @include icon("\E3EC", $sidebar: true);
            }
            &[href*=automator]:before {
                @include icon("\E2C0", $sidebar: true);
            }
            &[href*=atem]:before {
                @include icon("\E31A", $sidebar: true);
            }
            &[href*=log]:before {
                @include icon("\E90D", $sidebar: true);
            }

            &[href*=live-view]:before,
            &[href*=videos]:before,
            &[href*=playlists]:before,
            &[href*=scheduler]:before,
            &[href*=grids]:before,
            &[href*=download-automator]:before,
            &[href*=atem]:before,
            &[href*=log]:before {
                padding: 0 1.1rem 0 .3rem;
            }
        }
    }
}

main {
    padding: $primary-spacer;
    padding-left: $sidebar-width + $primary-spacer;
    transition: padding-left $primary-speed $primary-timing-function;
    
    .tucked + & {
        padding-left: 3rem;
    }
    
    @include media-breakpoint-down(sm) {
        padding-left: $sidebar-width-sm + $primary-spacer;
    }
    
    .card,
    .block {
        margin-bottom: $primary-spacer;
        position: relative;
        
        .card-header {
            font-weight: normal;
            border: 0;
            text-transform: uppercase;
            
            @at-root h4.card-header {
                font-size: 1.25rem;
            }
        }
    }
    
    .nav-link {
        color: black;
        border: 0!important
    }
    .tab-block {
        display: none;
        
        &.active {
            display: block;
        }
    }
    
    .progress-bar {
        background-color: $secondary-color;
    }
    
    table {
        /* Tables have are set to 'fixed' by default. This means they should achieve full 100% width by giving the th elements a % of width */
        @extend .table;
        @extend .table-hover;
        @extend .table-responsive;
        th {
            border-top: 0;
            a,
            a:hover {
                color: initial;
            }
        }
        td {
            vertical-align: middle;
            
            > figure {
                margin: 0;
            }
            
            & .btn-group {
                float: right;
            }
        }
    }
}

form {
    label {
        min-width: 6rem;
    }
    
    input[type=file],
    input[type=submit], 
    input[type=button] {
        @extend button;
    }
    input[type=file] {
        width: 13rem;
        
        @include media-breakpoint-down(sm) {
            width: 12rem;
        }
    }
    
    textarea,
    input[type=name],
    input[type=password],
    input[type=text],
    input[type=number],
    input[type=date] {
        padding: .5rem .4rem .5rem;
        border: 0;
        border-bottom: 1px solid gray;
        font-family: $primary-font;
        
        &:focus,
        &.has-content {
            outline: none;
            
            & + label {
                color: black;
                font-size: .9em;
                top: -1em;
            }
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem 0rem .5rem;
            width: 10rem;
        }
    }
    input[type=radio],
    input[type=checkbox] {
        & + label {
            margin-left: .5rem;
        }
    }
    
    textarea + label,
    input[type=name] + label,
    input[type=password] + label,
    input[type=text] + label,
    input[type=number] + label,
    input[type=date] + label {
        color: #aaa;
        position: absolute;
        left: .5em;
        top: .5em;
        transition: all $primary-speed $primary-timing-function;
    }
    
    label + input[type=date]:after {
//        @include icon("\E916");
//        WIP calendar icon to indicate date field
    }

}

date-input-polyfill {
    padding: 1rem!important;
    
    [data-selected] {
        background-color: $primary-color!important;
    }
    
    button {
        color: black!important;
        background-color: #FFFD38!important;
        border-color: #FFFD38!important;
        padding: 1%!important;
        width: 24%!important;
    }
    
    select:first-of-type {
        width: 27%!important;
        margin-right: 1%!important;
    }
    select {
        width: 47%!important;
        margin-right: 1%!important;
    }
    table {
        margin-top: $primary-spacer / 2!important;
    }
}